.picLogo{
	width: 220px;
}

.flex-cont{
	justify-content: space-between;
	align-items: center;
}

.wrapper {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

.flex_wrap {
	display: flex;
}

nav{
	background: #1c1c1c;
	border-bottom: 1px solid #E31B6D;
}

.nav-links {
  width: 50%;
  display: flex;
  align-items: center;
  list-style: none;
}

.links {
  padding: 22px;
	font-size: 20px;
	color: whitesmoke;
	font-weight: lighter;
}

