article {
    margin-bottom: 20px;
}

.about_head {
    text-align: center;
    /*background: #f1f1f1;*/
}

.section {
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    padding: 50px;
}


/* .circle_photo {
    width: 350px;
    height: 200px;
    border-radius: 10px;
    margin-right: 35px;
    padding: 20px;
} */

.avatar_box {
    width: 420px;
    padding-right: 60px;
}


/* h1{
	color: whitesmoke;
	font-weight: lighter;
	font-family: 'Montserrat', sans-serif;
	text-emphasis: shadow 2px;
	font-size: 30px;
} */


/* h2 {
    border-bottom: 1px solid grey;
    color: grey;
    font-weight: lighter; 
} */

h2 {
    font-weight: lighter;
    /* color: #1c1c1c; */
    font-size: 45px;
    border-bottom: 1px solid #E31B6D;
    animation: color-change 3s infinite ease-in-out;
}

@keyframes color-change {
    0% {
        border-bottom-color: #E31B6D;
    }
    50% {
        border-bottom-color: #ff7cd8;
    }
    75% {
        border-bottom-color: orange;
    }
    100% {
        border-bottom-color: #ff7cd8;
    }
}

.who {
    text-align: center;
    margin-left: 35px;
    margin-bottom: 25px;
    width: 550px;
    padding-left: 60px;
}

.who p {
    font-size: 25px;
    white-space: pre-line;
    color: #1c1c1c;
}

img {
    width: 100%;
    display: block;
    height: auto;
    border-radius: 20px;
}