/* .mission_article {
    margin-top: 100px;
} */

.mission_box-title {
    padding-top: 20px;
}


/* .wallpaper{
	background: url(./images/wallPaper.jpeg) 50% 50% / cover;
	z-index: -2;
	padding: 10px;
} */

.span-box_img {
    width: 500px;
    padding-right: 50px;
}


/* .handleContent {
    justify-content: space-between;
    align-items: center;
    padding: 50px;
} */

.img-mission {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.miss_descr {
    width: 600px;
    padding-left: 50px;
}

.miss_descr p {
    font-size: 20px;
}