/* .mission_article {
    margin-top: 100px;
} */

.mission_box-title {
    padding-top: 20px;
}

.span-box_img {
    width: 500px;
    padding-right: 50px;
}

.img-mission {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.miss_descr {
    width: 600px;
    padding-left: 50px;
}


/* .miss_descr p {
    font-size: 25px;
    white-space: pre-line;
    color: #1c1c1c;
} */