button {
    width: auto;
    height: 30px;
    padding: 10px;
    margin-right: 7px;
    background-color: #1c1c1c;
    color: whitesmoke;
    border-style: none;
    font-weight: bolder;
}

.ita button {
    background-image: url(../images/itaFlag.png);
}

.eng button {
    background-image: url(../images/english.jpeg);
}