@import url( "https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@1,500&family=Barlow:ital,wght@1,300&display=swap");

body {
	margin: 0px;
	font-family: 'Barlow Condensed', sans-serif;
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
}


.wrapper {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

.flex_wrap {
	display: flex;
}



.App {
  text-align: center;
}

.App-logo {
  height: 25vmin;
  pointer-events: none;
}

a,  u{
	text-decoration: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #1c1c1c;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* .App-link {
  color: #61dafb;
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*Button on  Welcom*/

.sec-btn{
	/* margin-top: 10px;
	margin-bottom: 10px;*/ 
	position: absolute;
	/* margin-bottom: 20px; */
	/* right: 30px; */
	top: 20px;

}

.btn {    
  position: relative; 
  /* padding: 10px; */
  /* padding: 1.4rem 4.2rem;
  padding-right: 3.1rem; */
  font-size: 1.4rem;
  /* color: var(--inv); */
  /* letter-spacing: 1.1rem; */
  text-transform:inherit; 
  cursor: pointer;
  user-select: none;
  border-radius: 20px;
  width: 150px;
	height: 40px;
  background-color: #1c1c1c;
  color: whitesmoke;
  /* text-align: center; */
  /* font-size: 22px; */
  /* font-weight: bolder; */
	/* border: 0.5px solid whitesmoke; */
	border: none;
}

/* .btn:before, .btn:after {
  content: '';
  position: absolute; 
  transition: inherit;
  z-index: -1;
} */


.btn:hover {
  color: #1c1c1c  ;
  /* transition-delay: .1s; */
	background: #E31B6D;
	border: 1px solid whitesmoke;
  transition: border 0.8s ease-out;
	-webkit-transition: background-color  0.8s ease-out;
  -moz-transition: background-color  0.8s ease-out;
  -o-transition: background-color  0.8s ease-out;
}



